*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 90%;
    width: 40%;
    background-color: rgb(51, 51, 51);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    height: 22%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 12px;
    border-radius: 20px 20px 0px 0px;
    margin-top: 10px;
}
header h2{
    height: 30%;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messsage{
    height: 5%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color: yellowgreen;
    font-weight: bold;
}
.streak-section{
    height: 25%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.streak-box{
    height: 50%;
    width: 25%;
    background-color: rgb(71, 73, 72);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(84, 203, 187);
}
.streak-number{
    font-size: 2.3rem;
}
.controls{
    height: 10%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.controls button{
    border-radius: 7px;
}
.item{
    height: 50%;
    width: 20%;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
.color-box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.color-box{
    height: 100px;
    width: 190px;
    /* border: 1px solid blue; */
    border-radius: 10px;
    background-color: #666;
}
.color-box:hover{
    box-shadow: 0 4px 12px rgba(243, 198, 35, 0.7);
    transform: scale(1.02);
    border: 1px solid white;
}
.item:hover{
    transform: scale(1.05);
    border: 0.5px solid white;
}