.container {
    display: flex;
    flex-wrap: wrap;
  gap: 2vw;
}
.btn{
    background-color: navy;
    color: white;
    height: 45px;
    width: 85px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2%;
}
.score{
    border: 2px solid black;
    background-color: lightgreen;
    height: 45px;
    width: 85px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 9%;    
    margin-left: -20%;
}