* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.container {
    width: 400px;
    background: white;
    padding: 30px 35px;
    border-radius: 20px;
}

.container h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
}

label {
    display: block;
    margin: 12px 0 6px;
    font-size: 14px;
    color: black;
}

input{
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}
textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

textarea {
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}
